.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  flex-direction: column;
  background: var(--gray-900);
  color: var(--text-default);
  width: 60rem;
	height: 48rem;
  padding: 2.4rem;
}

.text {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.2rem solid var(--primary);
  width: 0;
  animation: typing 2s steps(30) forwards,
             blink 0.2s infinite;
  transition: all 0.1s ease-in-out;
}


@keyframes typing {
  from { width: 0; }
  to   { width: 30ch; }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
