.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  flex-direction: column;
  background: var(--gray-900);
  color: var(--text-default);
  width: 60rem;
	height: 48rem;
  padding: 2.4rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  line-height: 2.4rem;
  gap: 1.2rem;
	padding: 4.2rem;
}
.title :first-child {
  font-size: 2.4rem;
  font-weight: 900;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}

.formRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
}

.input {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.8rem;
  color: var(--text-default);
  outline: none;
  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid var(--gray-700);
  transition: all 0.1s ease-in-out;
  width: 18rem;
}
.input::placeholder {
  color: var(--gray-500);
}
.input:focus {
  border-radius: 0.8rem;
  border: 0.2rem solid var(--gray-700);
}

.input:disabled {
  border-radius: 0.8rem;
  border: 0.2rem solid var(--disabled);
  color: var(--gray-600);
}
select.input option {
  background: var(--gray-900);
  color: var(--text-over-primary);
}

.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 1.2rem 0;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--text-default);
  gap: 0.8rem;
}

.button svg {
  width: 1.8rem;
  height: 1.8rem;
}

.button:disabled {
  cursor: not-allowed;
  background-color: var(--gray-800);
  color: var(--gray-500);
  filter: none;
  opacity: 0.8;
}

.placeholder {
  color: var(--gray-500);
}

