
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  flex-direction: column;
  background: var(--gray-900);
  color: var(--text-default);
  width: 60rem;
  height: 48rem;
  padding: 2.4rem;
  text-align: center;
}

.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 1.2rem 0;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--text-default);
  gap: 0.8rem;
}

.button svg {
  width: 1.8rem;
  height: 1.8rem;
}